$background-color: #181616;
$text-color: #c5c9c5;
$foreground-color: #282626;
$third-color: #e46876;

* {
  all: unset;
  font-family: Anonymice Nerd Font Mono;
}
.container {
  background-color: $background-color;
  color: whitesmoke;
  padding: 6px;
}

.inactive-button {
  background-color: $background-color;
  color: $foreground-color;
}

.active-button {
  background-color: $background-color;
  color: $third-color;
}

.subcontainer {
  background-color: $foreground-color;
  border-radius: 7px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.pfp {
  background-image: url("assets/pfp.jpg");
  background-size: 30px;
  border-radius: 100%;
}

.time {
  color: $text-color;
}

.bat-icon {
  color: $third-color;
  font-size: 16px;
}

.bat-perc {
  color: $text-color;
  font-size: 10px;
}

/* dashboard */

.profile {
  background-color: $background-color;
  padding: 15px;
  color: $text-color;
  font-size: 24px;
}

.big-pfp {
  background-image: url("assets/pfp.jpg");
  background-size: cover;
  min-height: 100px;
  min-width: 100px;
  border-radius: 100%;
}

.notifications {
  background-color: $background-color;
  color: $text-color;
  padding: 15px;
}

.music {
  background-color: $background-color;
  color: $text-color;
  padding: 15px;
}

.album-art {
  min-height: 200px;
  min-width: 200px;
  background-size: cover;
  border-radius: 10px;
}

.control-button {
  background-color: $foreground-color;
  border-radius: 100%;
}

.song-progress{
  background-color: $foreground-color;
  border-radius: 7px;
}

.song-progress trough highlight {
  background-color: $third-color;
  min-height: 2px;
}


.stats {
  padding: 15px;
  background-color: $background-color;
}

.bat-prog {
  background-color: $foreground-color;
  color: $third-color;
}

.cpu-prog {
  background-color: $foreground-color;
  color: #8ba4b0;
}

.mem-prog {
  background-color: $foreground-color;
  color: #c4b28a;
}

.cpu-icon {
  color: #8ba4b0;
  font-size: 16px;
}

.mem-icon {
  color: #c4b28a;
  font-size: 16px;
}
